{
    "parser": "babel-eslint",
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended"
    ],
    "env": {
        "es6": true,
        "browser": true,
        "node": true
    },
    "parserOptions": {
      "ecmaVersion": 6,
      "sourceType": "module",
      "ecmaFeatures": {
        "jsx": true
      }
  },
  "rules": {
      "semi": ["error", "always"],
      "indent": ["error", "tab"],
      "object-curly-spacing": ["error", "always"],
      "quotes": ["error", "single"],
      "no-extra-parens": "error",
      "max-len": ["error", { "code": 80 }],
      "no-multi-spaces": "error"
  }
}
